<h1>Add a new existing part:</h1>
<br/>
List of parts:
<ul>
  <%= locals[:parts_list].map { |p| "<li>#{p}</li>"}.join("\n") %>
</ul>
<form action="/acquire_part/" method="post">
    Part ID: <select name='existing_part_id'><option value='4124cd75'>Model-21A</option>
    </select>
    <br/>
    Acquisition Date: <input type="datetime" value="<%= Time.now %>" name="date_acquired">
    <br/>
    <input type="submit">
</form>
